@charset "utf-8";

/*
   New Perspectives on Khanh Pham Portfolio
   Final Portfolio
   Service Style Sheet
   Author: Khanh Pham
   Date:   12/3/18

   Filename:         fn_service.css

*/


/* =============================================
	Base layout styles used by mobile devices
	up to 480px and cascaded to larger devices 
	unless superceded by other styles.
   =============================================
*/
body {
	background-color:rgb(22, 100, 226);
}
header img {
	display: block;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:0;
	margin-top:0;
}
.nav ul {
  list-style: none;
  background-color: blue;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: yellow;
}
 
.nav a.active {
  background-color: yellow;
  color: red;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }




/* =============================================
	Tablet layout styles used by devices
	481px to 768px and cascaded to larger 
	devices.
   =============================================
*/



@media only screen and (min-width: 481px) {
	
	
	
	
}